<div class="container my-5">
    <h1 class="mb-2">Adicionar Livro</h1>
    <div *ngIf="message" class="alert alert-success" role="alert">
        <strong>Livro adicionado com sucesso!</strong>
        <button (click)="removeMessage()" type="button" data-bs-dismiss="alert" aria-label="Close">X</button>
      </div>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addNewBook()">
                  <div class="mb-3">
                    <label for="bookName" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="bookName" name="BookName" [(ngModel)] = "addBook.BookName">
                  </div>
                  <div class="mb-3">
                    <label for="author" class="form-label">Autor</label>
                    <input type="text" class="form-control" id="author" name="Author" [(ngModel)] = "addBook.Author">
                  </div>
                  <div class="mb-3">
                    <label for="shelf" class="form-label">Prateleira</label>
                    <input type="text" class="form-control" id="shelf" name="Shelf" [(ngModel)] = "addBook.Shelf">
                  </div>
                  <div class="mb-3">
                    <label for="shelf" class="form-label">Gênero</label>
                    <input type="text" class="form-control" id="genre" name="Genre" [(ngModel)] = "addBook.Genre">
                  </div>
                  <div class="mb-3">
                    <label for="year" class="form-label">Ano</label>
                    <input type="number" class="form-control" id="year" name="Year" [(ngModel)] = "addBook.Year">
                  </div>    
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>> 